# Ignore npm dependencies
/node_modules

# Ignore OSX files
.DS_Store

# Ignore generated JS
bundle.js

# Ignore logs
npm-debug.log

# Ignore output file of babel
server-compiled.js

# Ignore generated test files for CI enviornment
/ci-test

# Ignore Coverall's generated /coverage folder
/coverage

