doctype html
html(lang="en")
  head
    title Hostel and Backpacker Jobs Board | Weworkhostels
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
  body
    div(id='app')
    script(src='/compiled/bundle.js')