* {
	box-sizing: border-box;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #555;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}

.container {
  padding: 0 50px;
}
