.header-container {
  padding: 20px 50px;
  background-color: #5888A2;

  @include chosenDevice(phone) {
      padding: 20px 0;
  }

  header {
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;

    @include chosenDevice(phone) {
      width: auto;
    }


    .nav-logo {
      text-decoration: none;
      float: left;

      @include chosenDevice(tablet) {
        float: none;
        text-align: center;
      }


      h1 {
        color: #FFF;
        margin: 12px 0;
        // @include chosenDevice(phone) {
        //   margin-bottom: 15px;
        // }
      }

      span {
        background: #FFF;
        padding: 5px;
        color: #5888A2;
        border-radius: 3px;
        font-size: 12px;
        float: right;
        position: relative;
        top: -10px;

        @include chosenDevice(tablet) {
          display: none;
        }
      }
    }
    nav {
      overflow: hidden;
      padding-top: 15px;

      @include chosenDevice(tablet) {
        padding-top: 0;
      }

      ul {
        float: right;
        @include chosenDevice(tablet) {
          float: none;
          padding: 0;
          margin: 13px auto;
          width: 282px;
        }

        li {
          list-style: none;
          float: left;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          @include chosenDevice(phone) {
            margin-right: 13px;
          }

          a {
            text-decoration: none;
            color: #FFF;
            font-size: 14px;
            padding: 10px;
          }

          .active {
            background-color: #6EA4C1;
          }
        }
      }
    }
  }
}

