header {
  background-color: #5888A2;
  overflow: hidden;

  .nav-logo {
    float: left;

    h1 {
      color: #FFF;
    }

    span {

    }
  }

  ul {
    float: right;
    li {
      list-style: none;
      float: left;
      margin-right: 15px;
      a {
        text-decoration: none;
      }
    }
  }
}