.header-container {
  padding: 25px 50px;
  background-color: #5888A2;
    @include chosenDevice(phone) {
  }

  header {
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;

    @include chosenDevice(phone) {
      width: auto;
    }


    .nav-logo {
      float: left;
      @include chosenDevice(phone) {
        float: none;
        text-align: center;
      }

      h1 {
        color: #FFF;
      }

      span {
        background: #FFF;
        padding: 5px;
        color: #5888A2;
        border-radius: 3px;
        font-size: 12px;
        float: right;
        position: relative;
        top: -10px;
        @include chosenDevice(phone) {
          display: none;
        }
      }
    }
    nav {
      overflow: hidden;
      ul {
        float: right;
        @include chosenDevice(phone) {
          float: none;
          margin: 15px auto;
          max-width: 247px;
          overflow: hidden;
          padding: 0px 0 0 15px;
        }

        li {
          list-style: none;
          float: left;
          margin-right: 15px;
          padding: 10px;
          a {
            text-decoration: none;
            color: #FFF;
            font-size: 14px;
          }
        }
      }
    }
  }
}

