.header-container {
  padding: 25px 50px;
  background-color: #5888A2;
  @include chosenDevice(phone) {
    padding: 20px 0;
  }

  header {
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;

    @include chosenDevice(phone) {
      width: auto;
    }


    .nav-logo {
      float: left;
      @include chosenDevice(phone) {
        float: none;
        text-align: center;
      }

      h1 {
        color: #FFF;
        @include chosenDevice(phone) {
          margin-bottom: 15px;
        }
      }

      span {
        background: #FFF;
        padding: 5px;
        color: #5888A2;
        border-radius: 3px;
        font-size: 12px;
        float: right;
        position: relative;
        top: -10px;
        @include chosenDevice(phone) {
          display: none;
        }
      }
    }
    nav {
      overflow: hidden;
      @include chosenDevice(phone) {
        padding: 14px 0;
      }

      ul {
        float: right;
        @include chosenDevice(phone) {
          float: none;
          margin: 0 auto;          
          width: 295px;
          padding: 0;
        }

        li {
          list-style: none;
          float: left;
          margin-right: 15px;
          @include chosenDevice(phone) {
            margin-right: 13px;

          }
          a {
            text-decoration: none;
            color: #FFF;
            font-size: 14px;
            padding: 10px;
          }

          .active {
            background-color: #6EA4C1;
          }
        }
      }
    }
  }
}

